* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }
  
  body {
    display: inline-block;
    word-wrap: break-word;    
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
    font-size: 1.7em;
    color: white;
    text-align: center;
    line-height: 1.5;
  }
  
  /* nav bar */
  .top-head {
    text-align: center;
    padding: 12% ;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .top-nav {
    width: 95%;
    height: 80vh;
    position: fixed;
    justify-content: center;
    top: -100vh;
    z-index: 50;
    background-color: rgb(144, 247, 247);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 550ms cubic-bezier(1, 0, 0, 1);
  }

  .nav-list {
    list-style-type: none;
    width: 80%;
    height: 100;
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .nav-list li {
    list-style-type: none;
    margin: 0 1rem;    
  }

  .nav-link {
    
    font-family: inherit;
    font-size: 5 rem;
    padding: 1rem;
  }

  .nav-link:hover,
  .nav-link:focus {
    background:linear-gradient(to top, aqua, rgb(236, 161, 236));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 3rem;
  right: 3rem;
  width: 3rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler-open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, aqua, rgb(236, 161, 236));
  width: 100%;
  height: 4px;
  border-radius: .8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms (cubic-bezier(0.54, 0.1, 0.57, 0.57));
}

.open.bar.start {
  transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms (cubic-bezier(0.54, 0.1, 0.57, 0.57));
}

.open.bar.end {
  transform: rotate(-450deg) translateX(-8rem);
}
 
/* banner logo */
.image_container {
  text-align: center;    
  height: auto;
  padding: 1px; 
}

.site_logo {
  display: block;
  margin-left:  auto;
  margin-right: auto;
  width: 95%;
}

.subTitle {
  font-size: 1.9rem;
  color: rgb(247, 140, 19)
}

.container {
  width: 90%;  
  height: auto;
  margin: auto;
  position: relative;
  background: transparent;
}

.about_container {
  text-align: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.pers_img {
  
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 17%;
  width: 300px;
  height: 300px;
  opacity: .7;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h2 {
  font-family: 'Rammetto One', cursive;
  font-size: 6.5rem;
  color: rgb(131, 247, 247);
  opacity: .6;
}

.about-heading h3 {
  position: relative;
  padding-left: 30%;
  padding-top: 50px;
  font-size: 5rem;
  font-weight: 500;
  font-family: 'Clicker Script', cursive;
  color: orange;
}

.about-details {
  flex: 1;
}

.section-heading  {
  text-align: center;
  /* font-family: 'Yeon Sung', cursive; */
    /* font-family: 'Knewave', cursive; */
    /* font-family: 'Modak', cursive; */
    /*font-family: 'Rammetto One', cursive;*/
    
    /* font-family: 'Coiny', cursive; */
    /* font-family: 'Asset', cursive; */
    /* font-family: 'Fascinate', cursive; */
    /* font-family: 'Josefin Sans', sans-serif;   */
   background-color: lavender;
   border-radius: 32%;
   padding: 20px;
   opacity: .9;
   margin-top: 3px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.section-heading h2 {
  /* font-family: 'Yeon Sung', cursive; */
  /* font-family: 'Knewave', cursive; */
  /* font-family: 'Modak', cursive; */
  font-family: 'Rammetto One', cursive;
  /* font-family: 'Clicker Script', cursive; */
  /* font-family: 'Coiny', cursive; */
  /* font-family: 'Asset', cursive; */
  /* font-family: 'Fascinate', cursive; */
  /* font-family: 'Josefin Sans', sans-serif;   */
  text-shadow: 1px 1px 2px darkmagenta;
  font-kerning: initial;
  font-size: 4rem;
  color: rgb(131, 247, 247);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  opacity: .8;
}

.section-heading h2::before,
.section-heading h2::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  text-decoration: underline overline;
  text-decoration-color: azure;
}

.section-heading h2::before {
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h2::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: 1rem;
}

.section-heading h3 {
  font-family: 'Clicker Script', cursive;
  font-size: 3.5rem;
  font-stretch: extra-expanded;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgb(131, 60, 2);
  color: rgb(247, 140, 19)
}

.project-img {
  width: 45%;
  height: auto;
  padding-bottom: 30px;
}

.icon-container {
  text-align: center;
  justify-content: center;
  
  /* width: 100%;
  margin-left: 35%; */
}
.timeline ul {
  border-left: 4px solid aqua;
  border-radius: .8rem;
  background-color: rgba(0,0,0, .05);
  margin: 0 auto;
  position: relative;
  padding: 3rem;    
  text-align: left;
  width: 85%;
}

.duty-list ul {
  /* border-top: 2px dotted aqua; */
  margin: 0 auto;
  position: relative;
  padding: 2rem;
  text-align: left;
  width: 95%;
}

.timeline .date {
/* border-bottom: 1px solid white; */
margin-bottom: 1rem;
padding-bottom: 1rem;
position: relative;
}

.timeline .date-last-of-type {
 padding-bottom: 0;
 margin-bottom: 0;
 border: none;
}

.timeline .date::before,
.timeline .date::after {
 position: relative;
 display: block;
 top: 50%;
 /* transform: translateX(-50%); */
}

.timeline .date::before {
 content: attr(data-date);
 
 text-align: right;
 min-width: 12rem;
 font-size: 1.5rem;
}

.timeline .date::after {
 content: '';
 /* box-shadow: 0 0 0 4px aqua; */
 border-radius: 100%;
 left: 2rem;
 height: 1.5rem;
 width: 1.5rem;
}

.timeine h3 {
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 300;
   margin-bottom: 5px;
   opacity: .3;
 }

 .timeline h4 {
   font-size: 1.6rem;
   margin-bottom: 10px;
 }

 a {
   color: white;
   padding: 10px;
   margin: 5px;
   margin-bottom: 20px;
 }
 
/* .contact {
  
} */

.contact_me {
  width: 70%;
  margin: 0 auto;
}

form label {
  font-size: 1.5rem;
}

input, select, textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: aqua;
}

input[type="submit"] {
  width: initial;
  background-color: rgb(80, 3,80);
  color: aqua;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;
}

input[type="submit"]:hover {
  color: #221e3f;
  background-color: aqua;
}

.footer_info {
  font-size: .9em;
  padding: 2% 0;
  margin: 2px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}

.copyright_p {
  font-size: 1.4rem;
}

.up {
  text-align: center;
  width: 5rem;
  height: 5rem;
  background-color: plum;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  margin-left: 48%;
  animation: pulse 2s infinite;
  cursor: pointer;
}

up i {
  text-align: center;
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 aqua;
  }
  70% {
    box-shadow: 000 2rem plum;
  }
  100% {
    box-shadow: 0 0 0 0 aqua;
  }
}


@media screen and (max-width: 768px) {
  body {
    background:  url("/images/sitebg.jpg") no-repeat center;
    background-size: cover;
  }
  .landing-text h2 {
    font-size: 15rem;
  }
  .landing-text h5 {
    font-size: 1.7rem;
  }
  .nav-list {
    flex-direction: column;
  }
  li {
    margin: 2rem 0;
  }
  .nav-link {
    font-size: 4.5rem;
  }
  .about-heading {
    font-size: 8rem;
  }
  .section-heading {
    font-size: 3rem;
  }
  .about-details .nav-list {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
   align-items: center;
   justify-content: center;
    font-size: 4rem;
  }
  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .date::before {
    left: -19rem;
  }
  .timeline .date::after {
    left: -5.9rem;
  }
}

@media screen and (max-width: 600px){

  .menu-toggler{
      top: 2rem;
      right: 2rem;
  }

  .landing-text h1{
      font-size: 8rem;
  }

  .landing-text h6{
      font-size: 1.4rem;
  }

  .nav-link{
      font-size: 3.5rem;
  }

  .about .container{
      flex-direction: column;
  }

  .profile-img{
      text-align: center;
      width: 100%;
      height: auto;
      margin-left: 20px;
      margin-right: 20px;
  }

  .portfolio-item{
      flex-direction: column;
  }

  .portfolio-img{
      margin: 0 0 2rem 0;
      order: 1;
  }
  .portfolio-description{
      margin: 0;
      order: 2;
  }

  .timeline p{
      font-size: 1.6rem;
  }

  .timeline .date::before{
      font-size: 1.4rem;
  }

  form{
      width: 100%;
  }

  .up{
      right: 2rem;
  }
}

 